h1{
    color: blue;
    padding-top: 10vw;
}
nav{
    color: pink;
    background: repeating-linear-gradient(45deg,red,blue 50%);
    position: fixed;
    width: 100%;
    padding: 2vw;
    opacity: .8;
}
a{
    text-decoration: none;
    color: white;
}
#knight{
    width:3vw;
}
#knightpng{
    width: 3vw;
}
#certain{
    width: 200%;
}